* {
    transition: all 1s ease-in-out;
    font-family: 'Comic Neue', cursive;
}

html {
    scroll-behavior: smooth;
}

.loader {
    border-top-color: #3498db;
    animation: spinner 2s linear infinite;
}

@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.fade-enter {
    transition: opacity 0.5s ease;
    opacity: 0;
}
.fade-enter-active {
    opacity: 1;
}

.animate-up {
    opacity: 0;
    transform: translateY(20px); /* Start slightly below */
    transition: opacity 0.1s ease, transform 0.4s ease; /* Add transition */
}

[x-cloak] {
    display: none;
}

.start-animation {
    opacity: 1; /* Fully visible */
    transform: translateY(0); /* Original position */
}

.fade-out {
    opacity: 0;
    transition: opacity 1s ease-out;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    100% { opacity: 1; }
}

.rgb:hover {
  background: linear-gradient(270deg, #ff6b6b, #4ecdc4, #45b7d1, #96ceb4 , #f5df3b, #a20492);
  background-size: 1200% 1200%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  animation: gradientAnimation 2s ease infinite;
}

.rgb-bg:hover {
  background: linear-gradient(270deg, #4bc560, #c9c758, #bc56ad, #3287af);
  background-size: 1200% 1200%;
  animation: gradientAnimation 4s ease infinite;
}

.rgb-bg2:hover {
  background: linear-gradient(270deg, #069448, #c13737, #f4b73d, #1b85b2);
  background-size: 1200% 1200%;
  animation: gradientAnimation 5s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}