<div class="background">
    <div class="relative opacity-30">
        <div class="absolute p-1 border border-gray-500 top-20 -left-16 md:top-14 md:left-10">
            <div x-data="{ angle: 0 }" x-init="setInterval(() => { angle += 45; }, 10000)" class="dot-box" 
                x-bind:style="'transform: rotate(' + angle + 'deg); transition: transform 0.5s;'">
            </div>
        </div>
    </div>
    <div class="absolute -right-10 bottom-40 md:right-20 md:bottom-10 opacity-30">
        <div class="p-1 border border-gray-500">
            <div x-data="{ angle: 0 }" x-init="setInterval(() => { angle += 45; }, 7000)" class="dot-box2" 
                x-bind:style="'transform: rotate(' + angle + 'deg); transition: transform 0.5s;'">
            </div>
        </div>
    </div>
    <div class="absolute -left-44 -bottom-80 md:left-64 md:-bottom-72 opacity-30">
        <div class="p-1 border border-gray-500">
            <div x-data="{ angle: 0 }" x-init="setInterval(() => { angle += 45; }, 3800)" class="dot-box3" 
                x-bind:style="'transform: rotate(' + angle + 'deg); transition: transform 0.5s;'">
            </div>
        </div>
    </div>
    <div class="absolute hidden right-80 md:block -top-64 opacity-30">
        <div class="p-1 border border-gray-500">
            <div x-data="{ angle: 0 }" x-init="setInterval(() => { angle += 45; }, 20000)" class="dot-box3" 
                x-bind:style="'transform: rotate(' + angle + 'deg); transition: transform 0.5s;'">
            </div>
        </div>
    </div>
    <div class="flex-row justify-evenly pt-[20%] md:pt-0 flex opacity-10 bgfloat">
        <!-- First Row of Shapes -->
        <div class="flex flex-row opacity-35 mt-[40%] md:mt-[20%]">
            <div class="pt-[60%]">
                <div class="relative z-10 w-10 h-10 bg-gray-200 shadow-xl md:w-20 md:h-20 bgspin rounded-xl"></div>
                <div class="relative w-10 h-10 bg-teal-400 md:w-20 md:h-20 left-2 md:left-6 bottom-8 md:bottom-16 bgspin rounded-xl"></div>
            </div>
            <div class="md:pl-[2%] relative z-10 pt-[40%] md:pt-[6%]">
                <div class="relative z-10 w-6 h-6 bg-gray-200 shadow-xl md:w-10 md:h-10 bgspin rounded-xl"></div>
                <div class="relative w-6 h-6 bg-teal-400 md:w-10 md:h-10 left-2 bottom-6 bgspin rounded-xl"></div>
            </div>
        </div>

        <!-- Second Row of Shapes -->
        <div class="flex flex-row opacity-35 mt-[80%] md:mt-[3%]">
            <div class="pr-[8%] relative z-10 pt-[90%]">
                <div class="relative z-10 w-6 h-6 bg-gray-200 shadow-xl md:w-10 md:h-10 bgspin rounded-xl"></div>
                <div class="relative w-6 h-6 bg-teal-400 md:w-10 md:h-10 left-2 bottom-6 bgspin rounded-xl"></div>
            </div>
            <div class="pt-[35%]">
                <div class="relative z-10 w-10 h-10 bg-teal-400 shadow-xl md:w-20 md:h-20 bgspin rounded-xl"></div>
                <div class="relative w-10 h-10 bg-gray-200 md:w-20 md:h-20 left-2 md:left-6 bottom-8 md:bottom-16 bgspin rounded-xl"></div>
            </div>
            <div class="pl-[2%] relative z-10 pt-[1%]">
                <div class="relative z-10 w-6 h-6 bg-gray-200 shadow-xl md:w-10 md:h-10 bgspin rounded-xl"></div>
                <div class="relative w-6 h-6 bg-teal-400 md:w-10 md:h-10 left-2 bottom-6 bgspin rounded-xl"></div>
            </div>
        </div>

        <!-- Third Row of Shapes -->
        <div class="flex flex-row opacity-35 ml-20 md:ml-0 mt-[5%] md:mt-[30%]">
            <div class="pr-[10%] relative z-10 pt-[10%]">
                <div class="relative z-10 w-16 h-16 bg-gray-200 shadow-xl md:w-32 md:h-32 bgspin rounded-xl"></div>
                <div class="relative w-12 h-12 bg-teal-400 md:w-24 md:h-24 right-4 bottom-8 md:right-8 md:bottom-14 bgspin rounded-xl"></div>
            </div>
        </div>

        <!-- Fourth Row of Shapes -->
        <div class="flex flex-row opacity-35 mt-[98%] md:mt-[12%]">
            <div class="pl-[23%] relative z-10 pt-[90%]">
                <div class="relative z-10 w-6 h-6 bg-gray-200 shadow-xl md:w-10 md:h-10 bgspin rounded-xl"></div>
                <div class="relative w-6 h-6 bg-teal-400 md:w-10 md:h-10 left-2 bottom-6 bgspin rounded-xl"></div>
            </div>
            <div class="pt-[20%]">
                <div class="relative z-10 w-10 h-10 bg-teal-400 shadow-xl md:w-20 md:h-20 bgspin rounded-xl"></div>
                <div class="relative w-10 h-10 bg-gray-200 md:w-20 md:h-20 left-2 md:left-6 bottom-8 md:bottom-16 bgspin rounded-xl"></div>
            </div>
            <div class="relative z-10 pt-[15%]">
                <div class="relative z-10 w-6 h-6 bg-teal-400 shadow-xl md:w-10 md:h-10 bgspin rounded-xl"></div>
                <div class="relative w-6 h-6 bg-gray-200 md:w-10 md:h-10 left-2 bottom-6 bgspin rounded-xl"></div>
            </div>
            <div class="relative z-10 pl-[11%] pt-[55%]">
                <div class="relative z-10 w-6 h-6 bg-gray-200 shadow-xl md:w-10 md:h-10 bgspin rounded-xl"></div>
                <div class="relative w-6 h-6 bg-teal-400 md:w-10 md:h-10 left-2 bottom-6 bgspin rounded-xl"></div>
            </div>
            <div class="pl-[2%]">
                <div class="relative z-10 w-10 h-10 bg-gray-200 shadow-xl md:w-20 md:h-20 bgspin rounded-xl"></div>
                <div class="relative w-10 h-10 bg-teal-400 md:w-20 md:h-20 left-2 md:left-6 bottom-8 md:bottom-16 bgspin rounded-xl"></div>
            </div>
        </div>
    </div>
</div>